<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand">LTI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <li class="nav-item" style="border-left: 2.5px solid white; padding: 0 15px 0 15px;">
        <a class="nav-link font-weight-bold text-white">Login</a>
      </li>
      </ul>

    </div>
  </div>
</nav>
</header>

<form >
  <div class="row">
    <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="username">User Name</label>
          <input type="name" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter User Name"
          name="username" [(ngModel)]="login.username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
          name="password" [(ngModel)]="login.password">
        </div>
        <button  style="margin-right: 450px"type="submit" class="btn btn-primary" (click)="loginit()">Login!</button>
        <span class="text-danger">{{message}}</span>
        <button  type="submit"class="btn btn-link" (click)="gosignup()">Not a user Signup Here!</button>
        </div>

    </div>
</form>
